
<div class="col-sm-8">

  <p>You approach the child. "Hey kid, I'll give you $14 for your slingshot. That money could probably go towards your cancer treatment!" "First of all, I am 57 years old. Second, I don't have cancer, I just have male pattern baldness. I was going to give this as a present to my nephew, but I could sure use the money. I'm gonna net $4 out of this transaction! Here you go, have the slingshot! Take good care of it." You respond "Oh, I WILL."</p>
  <br>
  <button class="game-btn" {{action 'stealCopsGun'}}>Bribe the cop for his shiny gun</button><br>
  {{#each model as |game|}}
  {{#if game.takeSunglasses}}
  <button class="game-btn" {{action 'enterHospital'}}>Enter Hospital</button><br>
  {{else}}
  <button class="game-btn" {{action 'enterHospitalDeath'}}>Enter Hospital</button><br>
  {{/if}}
  {{/each}}
</div>
<div class="col-sm-4">
  {{inventory-display}}
</div>
