<p>You stealthily enter the ward lobby. Right behind the front desk is Randy in a doctor's coat, filling out an important-looking form on an important-looking clipboard. He glances up at you, his peripheral vision drawn to your cyan poncho. Thanks to your sunglasses disguise, he doesn't seem to notice that it's you, Wanda, staring back at him. He looks back down at the clipboard, makes a signature-writing motion with his pen, and then turns and heads through a door down the hall. This might be your chance...</p>
<br>
{{#each model as |game|}}
{{#if game.askForDrugs}}
  {{#if game.bribeKid}}
<button class="game-btn" {{action 'followRandyIntoRoomDrugsSlingshot'}}>Follow Randy into room (with drugs and slingshot, trophy optional)</button><br>
  {{/if}}
{{/if}}
{{/each}}
<button class="game-btn" {{action 'followRandyIntoRoomNoItems'}}>Follow Randy into room (with no items)</button><br>
<button class="game-btn" {{action 'followRandyIntoRoomTrophy'}}>Follow Randy into room (with trophy)</button><br>
<button class="game-btn" {{action 'followRandyIntoRoomDrugs'}}>Follow Randy into room (with drugs, no slingshot)</button><br>
<button class="game-btn" {{action 'followRandyIntoRoomSlingshot'}}>Follow Randy into room (slingshot, no drugs)</button><br>

{{inventory-display}}
