<p>You shuffle your way over to Steve, the ambulance driver. He sees you approaching, and visibly tightens up a bit. "H-h-hey Wanda. What do you want?"</p>
<br>

<button class="game-btn" type="button" name="button" {{action 'askForWallet'}}>Ask for Steve's Wallet (just to borrow)</button><br>
<button class="game-btn" type="button" name="button" {{action 'askForDrugs'}}>Ask if he has drugs. Steve the ambulance driver always has drugs.</button><br>
<button class="game-btn" type="button" name="button"{{action 'askAboutRandy2'}}>Ask About Randy</button>
<br>
<button class="game-btn" type="button" name="button"{{action 'doAKegStand'}}>Do a keg stand</button>
<br>

{{inventory-display}}
